/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Open Sans';
}
/* HTML5 display-role reset for older browsers */
article, aside, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.h1 {
    color: #141c3a;
    font-size: 36px;
    font-weight: bold;
}

.h2 {
    font-size: 20px;
}

.h3 {
    font-size: 20px;
}

h3.espacamento{
    padding: 15px;
}

h3.maior{
    font-size: 25px;
    
}

details{
    padding: 5px;

}   

summary{
}

nav {
    padding: 16px;
    justify-content: space-between;
    background-color: #E8D0A5;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);

}



a {
    text-decoration: none;
}
nav, nav>ul {
    display: flex;
    
}

nav>ul>li {
    margin: 0 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav>ul>li:last-child {
    margin-right: 0;
}

.darkblue{
    color: #0D1632;
    font-weight: bold;
}


.hero {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
}

.hero span {
    margin-top: 40px;
}

footer {
    background-color: rgb(13, 22, 50);
    text-align: center;
    color: white;
    padding: 4rem;
}

img.gradiente{
    background: rgb(255,248,230);
    background: radial-gradient(circle, rgba(255,248,230,1) 0%, rgba(63,94,251,1) 100%);
}

.banner {
    background-color: #3460AB;
    border-radius: 1rem;
    margin-top: -8rem;
    margin-bottom: 4rem;
    padding: 3rem;
    display: flex;
    justify-content: space-around;
}

a.button  {
    display: flex;
    border: 2px solid #D4AD65;
    border-radius: 2rem;
    padding: 1rem;
    transition: background-color .2s, color .2s;
}

.white {
    color: white;
}

a.button:hover {
    background-color: #D4AD65;
    color: black;
}

footer p {
    font-size: 1.5rem;
}

footer .logos {
    margin: 1rem
}

.image-separator {
    display: flex;
    justify-content: center;
}

.image-separator img {
    max-width: 850px;
}

section.main {
    text-align: center;
    padding: 50px 50px 0px 50px;
    background-color: #3460AB;
    color: white;
    box-shadow: 00px 05px 10px 20px rgba(0, 0, 0, 0.1);
}

section.main>.h2 {
    margin: 2rem 0;
    font-weight: bold;
}

section.main p {
    line-height: 1.5rem;
}

.espacamento-inferior{
    padding-bottom: 50px;
}

.services-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}


.services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 950px;
    border-radius: 1rem;
    margin-top: -3rem;
    background-color: white;
    -webkit-box-shadow: 3px 4px 12px 0px rgba(177, 170, 177);
    -moz-box-shadow: 3px 4px 12px 0px rgba(177, 170, 177);
    box-shadow: 3px 4px 12px 0px rgb(177, 170, 177);
}

.service {
    padding: 5rem 2rem 2rem;
    text-align: center;
}

.languages {
    max-width: 950px;
    border-radius: 1rem;
    background-color: white;
    -webkit-box-shadow: 3px 4px 12px 0px rgba(177, 170, 177);
    -moz-box-shadow: 3px 4px 12px 0px rgba(177, 170, 177);
    box-shadow: 3px 4px 12px 0px rgb(177, 170, 177);
    padding: 1rem 15rem 2rem;
    text-align: center;
}

.service:first-child {
    border-right: 1px solid #E8D0A5;
}

.service:last-child {
    border-left: 1px solid #E8D0A5;
}

.service img {
    width: 70px;
    background-color: #E8D0A5;
    border-radius: 50%;
    padding: 6px;
}

.service .h3 {
    font-weight: bold;
    margin: 1rem
}

.service .title {
    margin: 2rem 0 1rem;
    font-size: 20px;
    color: #0D1632;
    font-weight: bold;
}

.service .title2 {
    font-size: 17px;
    font-weight:600;
    color: #0D1632;
}

.service .title4 {
    padding: 3px;
    font-size: 17px;
    font-weight:450;
    color: #0D1632;
}

.service .title3 {
    padding: 6px;
    font-weight: 500;
    font-size: 17px;
    color: #254988;
}


footer .logo {
    border: 1px solid white;
    border-radius: 1rem;
    display: inline-block;
    width: 2rem;
    height: 2rem;
}

